form {
padding:0;
}

#contact-wrapper {
width:450px;
margin-right:auto;
margin-left:auto;
text-align:center;
}

#contact-wrapper div {
clear:both;
margin:1em 0;
}

#contact-wrapper label {
display:block;
float:none;
font-size:16px;
width:auto;
color:#e85b3f;
display:none;
}

form#contactform textarea {
width:422px;
height:239px;
display:block;
overflow:auto;
border:1px solid #d4d4d4;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-moz-box-shadow:inset 0 0 3px #EEF5F7;
-webkit-box-shadow:inset 0 0 3px #EEF5F7;
background:#FFF;
padding-left:13px;
padding-right:13px;
font-size:18px;
padding-top:13px;
font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
-webkit-transition:.2s ease-in-out;
-moz-transition:.2s ease-in-out;
-o-transition:.2s ease-in-out;
transition:.2s ease-in-out;
box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
color:#3e3e3e;
}

form#contactform textarea:focus {
border:1px solid #6ec7e7;
-webkit-border-radius:4px;
-moz-border-radius:4px;
}

form#contactform .message-bg {
height:252px;
}

input,textarea {
outline:none;
}

form#contactform input {
height:55px;
width:422px;
margin:0;
font-size:18px;
background:#FFF;
border:1px solid #d4d4d4;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-moz-box-shadow:inset 0 0 3px #EEF5F7;
-webkit-box-shadow:inset 0 0 3px #EEF5F7;
padding-left:13px;
padding-right:13px;
color:#3e3e3e;
font-family:'Open Sans',Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
-webkit-transition:.2s ease-in-out;
-moz-transition:.2s ease-in-out;
-o-transition:.2s ease-in-out;
transition:.2s ease-in-out;
box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
color:#3e3e3e;
}

form#contactform input:focus {
border:1px solid #6ec7e7;
-webkit-border-radius:4px;
-moz-border-radius:4px;
}

form#contactform.input-bg {
height:55px;
margin-bottom:30px;
position:relative;
}

form#contactform input.submit-button {
float:left;
width:450px;
height:85px;
background:url(images/send.png) top no-repeat;
cursor:pointer;
color:#FFF;
border:none;
text-indent:-9999px;
-webkit-transition:none;
-moz-transition:none;
-o-transition:none;
transition:none;
}

form#contactform input.submit-button:hover {
width:450px;
height:85px;
background:url(images/send.png) bottom no-repeat;
color:#FFF;
cursor:pointer;
border:none;
text-indent:-9999px;
}