.detail
{ 
width:100%;
}
.right
{
display:none;
}
.left
{
border-radius:0px;
}

.dright
{
border-radius:0px;
}

.header
{
font-size:1.2em;
}
.container
{
height:auto;
width:auto;
}
.teal
{
margin-top:0px;
padding-top:100px;
padding-bottom:100px;
}
.detail i
{
display:none;
}
body
{
font-size:12px !important;
}