* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:#bfbfbf;
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}


p {
	margin: 0 0 15px 0;
}
.menu-items
{
	margin-right:auto;
	margin-left:auto;
}

.menuBtn {

	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}

.clear {
	clear: both;
}

.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}

/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 550px;
	height: 70px;
	z-index: 1000;
	width: 100%;
	background: #222;
	text-align: center;
	border-bottom:2px solid #222;

}

.active {
	color:#c0392b !important;
}

.subNavBtn {
	display: inline-block;
	height: 70px;
	line-height: 70px;
	width: 100px;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Lato';
	padding: 0px 2% 0 2%;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}

/* SECTIONS */
.sTop {
	min-height: 600px;
	background:#e5e5e5;
	color:#3d3d3d;
	padding-top: 50px;
	background-image: url('../images/bg.jpg');
	
}



.s1 {
	background: #c0392b;
	color:#222;
	background-size: cover;
}


.s2 {
	min-height: 500px;
	background: #3f3f3f;
	color:white;
}


.s3 {
	min-height: 700px;
	background: #504f4f;
}


